@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
*, *::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #C7D0C6; }

html {
  font-size: 62.5%; }

section {
  height: 100vh;
  width: 100%; }

body {
  line-height: 1.6;
  font-family: Quattrocento, serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  color: #636C65;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h5,
p,
span,
a,
li {
  font-family: Quattrocento Sans, serif; }

.inline-block {
  display: inline-block; }

.vertical-separator {
  display: inline-block;
  width: 1px;
  min-height: 25rem;
  background-color: #636C65; }

button {
  width: 14.9rem;
  height: 5rem;
  border: 1px solid;
  border-radius: 25px;
  background-color: transparent;
  font-family: Quattrocento Sans;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center; }
  button:hover, button:focus, button:active {
    outline: none; }

.header {
  height: 95vh;
  margin-bottom: 5vh;
  background: url("../assets/img/bg-green.png") no-repeat center;
  background-size: cover !important;
  mix-blend-mode: darken;
  -webkit-box-reflect: below -2px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(95%, transparent), to(white));
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 2.2rem;
    left: 3rem; }
  .header__text-box {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .header__text-box h1 {
      font-size: 7rem;
      line-height: 7.8rem;
      letter-spacing: 0em;
      margin-bottom: 1.9rem; }
    .header__text-box h5 {
      font-size: 2rem;
      line-height: 2.2rem;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 6.8rem; }
    .header__text-box h1,
    .header__text-box h5 {
      text-align: center; }
  .header__button-box {
    position: relative; }
  .header__button {
    width: 14.9rem;
    height: 5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.skills-group {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center; }

.radial-group {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  flex-basis: 35%;
  column-gap: 3.8rem;
  row-gap: 3.3rem;
  max-width: 21rem;
  margin-bottom: 5rem; }
  .radial-group__item {
    display: inline-block;
    position: relative;
    width: 6.2rem;
    height: 6.2rem; }
    .radial-group__item--header {
      font-size: 3rem;
      z-index: 10; }
    .radial-group__item--progress--bar {
      width: 4.8rem;
      height: 4.8rem;
      background-color: #abb6ae;
      border-radius: 50%; }
      .radial-group__item--progress--bar--fill {
        width: 6.2rem;
        height: 6.2rem;
        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
        background-color: transparent;
        border: solid 0.7rem #636c65;
        border-radius: 50%; }
    .radial-group__item--header, .radial-group__item--progress, .radial-group__item--progress--bar, .radial-group__item--progress--bar--fill {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.linear-group {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  width: 16.9rem;
  margin-bottom: 2rem; }
  .linear-group__item--header {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.7rem; }
  .linear-group__item--progress {
    display: block; }
    .linear-group__item--progress--bar {
      position: relative;
      background-color: #abb6ae;
      border-radius: 25px;
      height: 1rem; }
      .linear-group__item--progress--bar--fill {
        position: absolute;
        background-color: #636c65;
        border-radius: 25px;
        height: 1rem; }

.about {
  position: relative; }
  .about__container {
    display: block;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -44%); }
    .about__container--header {
      margin-bottom: 4.7rem; }
      .about__container--header h1 {
        font-size: 7rem;
        line-height: 7.8rem;
        letter-spacing: 0em;
        margin-bottom: 1.9rem; }
      .about__container--header p {
        max-width: 47.7rem;
        font-size: 2rem;
        line-height: 2.2rem;
        letter-spacing: 0em;
        text-align: justify; }
      .about__container--header img {
        position: absolute;
        left: 18.3rem;
        top: -3rem;
        transform: translate(-50%); }
    .about__container--image {
      margin-left: 6vw;
      position: relative; }
      .about__container--image img {
        margin-bottom: 130%; }
      .about__container--image--overlap {
        position: absolute;
        left: 3rem;
        top: 6.8rem;
        width: 17rem;
        height: 23rem;
        background-color: #7d887f;
        mix-blend-mode: overlay; }

/**
 * Carousel.sass
 * @author: Dang Van Thanh
 * @email: dangvanthanh@dangthanh.org
 * @description: A Simple Carousel Pure CSS Using Sass
 * @version: 0.1.0
 */
.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
  opacity: 1 !important;
  z-index: 3; }

.carousel {
  width: 60vw;
  position: relative;
  overflow: hidden; }
  .carousel > input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
    .carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item,
    .carousel > input[type="radio"]:checked ~ .carousel__prev > label,
    .carousel > input[type="radio"]:checked ~ .carousel__next > label {
      opacity: 0; }
    .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
      opacity: 1; }
    .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
      background: #636C65;
      cursor: default;
      pointer-events: none; }
    .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
      opacity: 1; }
    .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
      background: #636C65;
      cursor: default;
      pointer-events: none; }
    .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
      opacity: 1; }
    .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
      background: #636C65;
      cursor: default;
      pointer-events: none; }
    .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
      opacity: 1; }
    .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
      background: #636C65;
      cursor: default;
      pointer-events: none; }
    .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
      opacity: 1; }
    .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
      background: #636C65;
      cursor: default;
      pointer-events: none; }
  .carousel__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 50rem;
    position: relative; }
  .carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    display: flex;
    flex-flow: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    align-content: center; }
    .carousel__item img {
      width: 28rem;
      height: 18rem;
      object-fit: cover;
      object-position: center; }
  .carousel__prev > label, .carousel__next > label {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    opacity: 0;
    z-index: 2; }
    .carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
      opacity: 0.5 !important; }
    .carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit; }
    .carousel__prev > label:before, .carousel__next > label:before {
      background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
      width: 60%;
      height: 60%;
      top: 20%; }
  .carousel__nav {
    position: absolute;
    bottom: 3%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 3; }
    .carousel__nav > label {
      background-color: #ABB6AE;
      display: inline-block;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 0.125%;
      width: 1rem;
      height: 1rem; }

.works {
  position: relative; }
  .works__container {
    display: block;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .works__container--header {
      position: relative;
      margin-left: 15.5%; }
      .works__container--header h1 {
        font-size: 7rem;
        line-height: 7.8rem;
        letter-spacing: 0em; }
      .works__container--header img {
        position: absolute;
        left: 18.3rem;
        top: -3rem;
        transform: translate(-50%); }

.contacts {
  position: relative; }
  .contacts__container {
    display: block;
    position: absolute;
    left: 45.5%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .contacts__container--header {
      position: relative;
      margin-bottom: 8rem; }
      .contacts__container--header h1 {
        font-size: 7rem;
        line-height: 7.8rem;
        letter-spacing: 0em; }
      .contacts__container--header img {
        position: absolute;
        left: 15rem;
        top: -3rem;
        transform: translate(-50%); }
    .contacts__container--list {
      border: 2px solid #636c65;
      border-radius: 2rem;
      padding: 9rem 7.8rem; }
      .contacts__container--list ul {
        list-style: none; }
      .contacts__container--list li {
        font-size: 2.5rem; }
