@import "../components/skills";

.about {
  position: relative;

  &__container {
    display: block;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);

    &--header {
      margin-bottom: 4.7rem;

      h1 {
        font-size: 7rem;
        line-height: 7.8rem;
        letter-spacing: 0em;
        margin-bottom: 1.9rem;
      }

      p {
        max-width: 47.7rem;
        font-size: 2rem;
        line-height: 2.2rem;
        letter-spacing: 0em;
        text-align: justify;
      }

      img {
        position: absolute;
        left: 18.3rem;
        top: -3rem;
        transform: translate(-50%);
      }
    }

    &--image {
      margin-left: 6vw;
      position: relative;

      img {
        margin-bottom: 130%;
      }

      &--overlap {
        position: absolute;
        left: 3rem;
        top: 6.8rem;
        width: 17rem;
        height: 23rem;
        background-color: #7d887f;
        mix-blend-mode: overlay;
      }
    }
  }
}
